{
  "presets": ["es2015", "react"],
  "env": {
    "testing": {
      "plugins": [
        ["babel-plugin-webpack-alias", {
          "config": "webpack.base.config.js",
          "findConfig": true
        }],
        "rewire"
      ]
    }
  }
}
